name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build
        run: make build/docker
      - name: Publish as artifact
        uses: actions/upload-artifact@v6
        with:
          name: cv
          path: cv/cv.pdf
          if-no-files-found: error
      - name: Clean up
        run: sudo make clean
      - name: Set up ssh-agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: '${{ secrets.REMOTE_SSH_KEY }}'
      - name: Deploy
        run: make deploy
        env:
          REMOTE_USER: '${{ secrets.REMOTE_USER }}'
          REMOTE_HOST: '${{ secrets.REMOTE_HOST }}'
          REMOTE_PORT: '${{ secrets.REMOTE_PORT }}'
          REMOTE_DIR: '${{ secrets.REMOTE_DIR }}'
        if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/master'
